<!-- markdownlint-disable -->
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ecommerce?schema=public

# DATABASE_URL to set an env variable in docker container
DATABASE_URL_DOCKER=postgresql://postgres:postgres@postgres:5432/ecommerce?schema=public

# DATABASE_URL that we  need while developing the app
DATABASE_URL_DEV=postgresql://postgres:postgres@localhost:5433/ecommerce?schema=public

# Production's DATABASE_URL
DATABASE_URL_PROD=postgresql://user:password@localhost:5432/dbname?schema=public

# Postgres specific DATABASE credentials
PGHOST=****
PGPORT=****
PGUSER=****
PGPASSWORD=****
PGDATABASE=****

# AWS environment credentials
AWS_ACCOUNT_ID=******
AWS_REGION=*********
AWS_LAMBDA_FUNCTION_NAME=******
AWS_ECR_REPOSITORY_NAME=******
AWS_ACCESS_KEY_ID=**********
AWS_SECRET_ACCESS_KEY=************

# Port on which application listens in development mode
PORT=5000

# Admin user email and password. First user of the application. Used while DB reset
ADMIN_EMAIL=some@email.com
ADMIN_PASSWORD=somePassword

NODE_VERSION=24
PNPM_VERSION=10.26.0

# URLs from which application will receive the requests
CORS_ORIGINS=http://localhost:5000,http://localhost:3001